<app-menu></app-menu>
<!-- <h1>{{ nombre | titlecase }}</h1>

<button 
  pButton 
  (click)="mostrarNombre()" 
  icon="pi pi-check"
  iconPos="right"
  class="p-button-help"
  label="Cambiar Nombre"></button>

<hr>
<p-card [header]="nombre | titlecase">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem exercitationem mollitia adipisci quia perferendis eius, reiciendis eum numquam facere quis, dignissimos, aliquid asperiores delectus pariatur labore voluptatum hic quas dolorem.
</p-card> -->

<router-outlet></router-outlet>